body>p:first-child{
    color: red;
}

[tabindex="1"]:focus{
    color: blue;
  }
[tabindex="1"]:hover{
    color: red;
  }
  [tabindex="1"]:active{
    color: green;
  }

  .a.c>span{
    color: red;
  }
  .a.c>span >:first-child{
    color: green;
  }
  .a.c>span >:last-child{
    color: blue;
  }

  a:visited{
    color: orange;
  }
  a:link{
    color: pink;
  }
  a[href$="@b.com"]{
    color: blue;
  }
  a[href="tel:12345678"]{
    color: yellow;
  }
  a[href^=aaa]{
    font-size: 30px;
  }

  /* .a ul li:not(:nth-child(1),:nth-child(2),:nth-child(3),:nth-child(8),:nth-child(9),:nth-child(10)){
    color: red;
  } */
  div.a ul li:nth-child(4),
  div.a ul li:nth-child(5),
  div.a ul li:nth-child(6),
  div.a ul li:nth-child(7){
    color: red;
  } 

  .b ul li:nth-child(-n+25){
    color: red;
  }

  .b ul li:nth-child(n+65){
    color: green;
  }
  .b ul li:nth-child(n+35):nth-child(-n+50){
    color: blue;
  }
  .prime li{
    color: red;
  }
  .prime li:nth-child(1),
  .prime li:nth-child(2n+4),
  .prime li:nth-child(3n+6),
  .prime li:nth-child(5n+25),
  .prime li:nth-child(7n+49){
    color: blue;
  }


  